<% obj.each do |x| %>
	<div class="row" >
		<div class="col-xs-8 col-xs-offset-2" > 
			<div class=" well well-lg">
				<div class ="article-title"> 
					<%= link_to x.title, article_path(x)%> </td>
				</div> 
				<div class="article-body">

					<%= truncate(x.description,length: 100) %> 
					<% if x.user %> 
						<div class=" article-created-by"> 
							Created by <%= x.user.username if x.user %> 
					</div> 
				<% end %> 
				</div> 
				<div class="article-post-date">
					posted <%= time_ago_in_words(x.created_at) %> ago <br> 
					last updated <%= time_ago_in_words(x.updated_at) %> ago
					<!--				<%= x.created_at.strftime("%b %e '%y at  %I:%H %P")%>  -->			</div> 

				<% if logged_in? && (current_user == x.user  || current_user.admin? ) %> 
					<div class="article-actions"> 
						<%= link_to "Edit this article" , edit_article_path(x), class: "btn btn-sm btn-primary"  %>  || 
						<%= link_to "Delete this article" ,article_path(x) , method: :delete, 
						data: {confirm: "Are you sure?"} , class: "btn btn-sm btn-danger" %> 
				</div>
			<% end %> 
			</div> 
		</div> 
	</div> 

<% end %> 


